@model FitnessTracker.Application.DTOs.Exercises.EditExerciseDto

<h2>Edit Exercise</h2>

<form asp-action="Edit" method="post">

    <div class="form-group mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label>Type</label>
        <input asp-for="Type" class="form-control" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label>Calories Per Minute</label>
        <input asp-for="CaloriesPerMinute" class="form-control" />
        <span asp-validation-for="CaloriesPerMinute" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}