@model AddExerciseToWorkoutDto

@{
    var exercises = ViewBag.Exercises as List<FitnessTracker.Application.DTOs.Exercises.ExerciseDto>;
    var workoutId = ViewBag.WorkoutId;
}

<h2>Add Exercise</h2>

<form asp-action="AddExercise" asp-route-id="@ViewBag.WorkoutId" method="post">

    <div class="form-group">
        <label>Exercise</label>
        <select asp-for="ExerciseId" class="form-control">
            @if(exercises != null)
            @foreach (var e in exercises)
            {
                <option value="@e.Id">@e.Name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Sets</label>
        <input asp-for="Sets" class="form-control" />
    </div>

    <div class="form-group">
        <label>Reps</label>
        <input asp-for="Reps" class="form-control" />
    </div>

    <div class="form-group">
        <label>Duration (minutes)</label>
        <input asp-for="DurationMinutes" class="form-control" />
    </div>

    <div class="form-group">
        <label>Intensity</label>
        <select asp-for="Intensity" class="form-control">
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
        </select>
    </div>

    <div class="add-exercise">
    <button type="submit" class="btn btn-success">Add</button>
    <a asp-controller="Workout" asp-action="Details" asp-route-id="@ViewBag.WorkoutId"
           class="btn btn-secondary">
        Back
    </a>
    </div>
</form>